:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.sessionDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem
}

.sessionTitle {
  padding: 1rem;
  color: var(--header);
  max-width: 500px;
  text-align: center;
}

.sessionDescription {
  padding: 1rem;
  max-width: 500px;
}

.editDeleteAddButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem
}

.startEndTime {
  text-align: center;
  padding: 1rem
}

.editForm {
  min-width:400px;
}

.submitCancelButtons {
  padding-top:1rem
}

.userListContainer {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sessionUserList {
  list-style-type: none;
  margin: 1rem;
}



.usersToAdd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem
}

.calendarPage {
  padding: 2rem;
}

.loginSignup {
  padding:1rem
}